
.gallery-big-image img{
    width: 750px;
}
.gallery-big-image{
    width: 100%;
    display : none;
}
.gallery-display-block{
    display : block;   
}

.gallery-list-image{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 70px;
    margin-bottom: 100px;
}

.name{
    color: white;
    font-size: 24px;
}


.gallery-image{
    display: flex;
    width: 175px;
    height: 175px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: rgb(0,0,0) 1px 72px 40px -68px;
}


.gallery-image img{
    margin: auto;
    width: 150px;
}

.gallery-image:not(:nth-child(4n)){
    margin-right: 16px;
}

.gallery-image img{
    margin: auto;
    width: 150px;
}




